<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298517615242-iel9aqi9f8ddukljsdsl68uo079ttvle.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298517615242-iel9aqi9f8ddukljsdsl68uo079ttvle</string>
	<key>API_KEY</key>
	<string>AIzaSyCIjsCqqhMEPxFpOhKMr0_-3bhCY4FarVI</string>
	<key>GCM_SENDER_ID</key>
	<string>298517615242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gudetama.yolkADay</string>
	<key>PROJECT_ID</key>
	<string>yolk-a-day</string>
	<key>STORAGE_BUCKET</key>
	<string>yolk-a-day.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298517615242:ios:9089ef572a7344bb0f1373</string>
</dict>
</plist>